
.board {
  fill-opacity: 1;
  fill: #000000;
  stroke: none;
}

.origin {
  stroke: #555555;
  stroke-width: 0.05;
  stroke-opacity: 1;
  fill: none;
}
.outline {
  stroke: #555555;
  fill: #555555;
  stroke-opacity: 1;
  fill-opacity: 1;
}
.dimensions {
  fill: #555555;
  stroke: #555555;
  stroke-opacity: 1;
  fill-opacity: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
  font-family: "UbuntuMono-R-webfont";
  font-size: 1.5mm;
  line-height: 1mm;
  letter-spacing: 0mm;
}
.drills {
  fill: #444444;
  fill-opacity: 0.6;
  stroke: none;
  fill-rule: evenodd;
}
.pad-labels {
  font-size: 0.1px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0;
  word-spacing: 0;
  writing-mode: lr-tb;
  text-anchor: middle;
  fill: #f3ff00;
  fill-opacity: 1;
  stroke: none;
  font-family: "Sans serif";  
}

.top-placement {
  stroke: #444444;
  fill: none;
  stroke-opacity: 0.5;
  stroke-width: 0.03;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.bottom-placement {
  stroke: #444444;
  fill: none;
  stroke-opacity: 0.5;
  stroke-width: 0.03;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.top-assembly {
  stroke: #009999;
  fill: #009999;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
}
.bottom-assembly {
  stroke: #ff7400;
  fill: #ff7400;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
}
.top-conductor {
  fill: #008500;
  stroke: #008500;
  fill-opacity: 0.6;
  stroke-opacity: 0.6;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.bottom-conductor {
  fill: #850000;
  stroke: #850000;
  fill-opacity: 0.6;
  stroke-opacity: 0.6;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.top-conductor-routing {
  /* optional */
}
.bottom-conductor-routing {
  /* optional */
}
.top-conductor-pads {
  /* optional */
}
.bottom-conductor-pads {
  /* optional */
}
.top-conductor-pours {
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.bottom-conductor-pours {
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.top-silkscreen {
  stroke: #9fee00;
  fill: #9fee00;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
  stroke-linejoin: round;
  stroke-linecap: round;  
}
.bottom-silkscreen {
  stroke: #cd0074;
  fill: #cd0074;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
  stroke-linejoin: round;
  stroke-linecap: round;  
}
.top-soldermask {
  stroke: #96ffb0;
  fill: #96ffb0;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
}
.bottom-soldermask {
  stroke: #ff7373;
  fill: #ff7373;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
}
.top-solderpaste {
  stroke: #a0a0a0;
  fill: #a0a0a0;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
}
.bottom-solderpaste {
  stroke: #a0a0a0;
  fill: #a0a0a0;
  stroke-opacity: 0.6;
  fill-opacity: 0.6;
}

.drill-index {
  font-size: 0.5mm;
  fill: #111111;
  fill-opacity: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  text-align: left;
  line-height: 100%;
  letter-spacing: 0;
  word-spacing: 0;
  writing-mode: lr-tb;
  text-anchor: left;
  stroke: none;
  font-family: "Ubuntu";
}
.drill-index-symbol {
  fill: #393e79;
}
.drill-index-symbol-text {
  font-size: 0.25mm;
}

.layer-index {
  font-family: "Overlock-Regular-OTF-webfont";
  font-size: 1.2mm;
  letter-spacing: 0mm;
  line-height: 1.2mm;
}

.assembly-refdef {
  font-family: "UbuntuMono-R-webfont";
  font-size: 2mm;
  line-height: 2mm;
  letter-spacing: 0mm;
}
.assembly-text {
  font-family: "UbuntuMono-R-webfont";
  font-size: 1mm;
  line-height: 1mm;
  letter-spacing: 0mm;
}

.silkscreen-refdef {
  font-family: "UbuntuMono-R-webfont";
  font-size: 2mm;
  line-height: 2mm;
  letter-spacing: 0mm;
}
.silkscreen-text {
  font-family: "UbuntuMono-R-webfont";
  font-size: 1mm;
  line-height: 1mm;
  letter-spacing: 0mm;
}

.documentation {
  fill: #000455;
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 0;
  stroke-opacity: 1;
  stroke-dasharray: none;
}
.documentation-text {
  font-family: "Overlock-Regular-OTF-webfont";
  font-size: 1.5mm;
  letter-spacing: 0mm;
  line-height: 1.5mm;
}

.placement-text {
  font-size: 0.1px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0;
  word-spacing: 0;
  writing-mode: lr-tb;
  text-anchor: middle;
  fill: #222222;
  fill-opacity: 0.8;
  stroke: none;
  font-family: Sans serif;
}
